.list-container {
  list-style: none;
}

.uplist-title{
  text-align: center;
  color:#5c5c5c;
  padding: 1px 7px 1px 7px;
}

.uplist-subtitle{
  text-align: center;
  color:#989595;
}

.uplist-border-box{
  border: 1px solid #78b424;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  height: 100%;
}

.uplist{
  color: #757575;
  background-color: #ffffff ;
  overflow-y: scroll;
  margin: 5px 5px 5px 5px;
  height: 100%;
}
.uplist-li{
  padding: 5px 15px 5px 15px;
  text-align: justify;
  letter-spacing: 3px;
  color:#374f16;
  transition: padding 0.3s;
}

.uplist-li:hover{
  color:#34ff01;
  cursor: pointer;
  padding-left: 1px;
  padding-right: 30px;
  /*border-left: 3px solid #34ff01;*/
}

.uplist-li-detail{
  color: #757575;
  background-color: #d4ffc2;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.clicked {
  color: #46d543;
}
